<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fu.swphcc.wattnglueck"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <!-- wenn logo fertig :  android:logo="@drawable/ic_logo" -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.fu.swphcc.wattnglueck.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.Status"
            android:label="@string/title_activity_status"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.ZaehlerstandChooseMethodDialog"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.ZaehlerstandManuell"
            android:label="@string/title_activity_zaehlerstand_manuell"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.Vertrag"
            android:label="@string/title_activity_vertrag"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.ZaehlerstandKamera"
            android:label="@string/title_activity_zaehlerstand_kamera"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.Details"
            android:label="@string/title_activity_details"
            android:parentActivityName="org.fu.swphcc.wattnglueck.Status" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.Status" />
        </activity>
        <activity android:name="org.achartenginge.GraphicalActivity" >
        </activity>
        <activity
            android:name="org.fu.swphcc.wattnglueck.Kamera"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_kamera"
            android:parentActivityName="org.fu.swphcc.wattnglueck.HomeScreen"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fu.swphcc.wattnglueck.HomeScreen" />
        </activity>
    </application>

</manifest>
